amplify-authenticator {
  background: #000818;

}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 94vh;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

:root {
  --amplify-primary-color: #4a90e2;
  --amplify-primary-tint: #4a90e2;
  --amplify-primary-shade: #4a90e2;
}

.second-header {
  font-size: 16pt;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: "3px";
  margin-bottom: "20px";
}

.stage-one {
  align-items: center;
  justify-content: center;
  padding: "3px";
  margin-bottom: "20px";
}

.form {
  margin-left: "20px";
}
